_subdirectory: template
_templates_suffix: .jinja
_answers_file: .copier-answers.[[ "poetry" if template_suffix == "" else "poetry-" ~ template_suffix ]].yml

_tasks:
  - "[ -f README.md ] || touch README.md"
  - "poetry install"
  - "[ -d .git ] && poetry run pre-commit install --install-hooks || true"

[% include "shared-config/common.yml" %]
[% include "shared-config/docker.yml" %]

package_distribution_name:
  type: str
  help: Package distribution name (for `pip install NAME`)
  default: "{{ project_name|lower|replace('_', '-')|replace(' ', '-') }}"

package_import_name:
  type: str
  help: Package import name (for `import NAME` in Python code)
  default: "{{ project_name|lower|replace('-', '_')|replace(' ', '_') }}"

