name: Build Docker

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
  pull_request:

permissions:
  contents: read

jobs:
  build[[ "-" ~ subdir_name if use_subdir else "" ]]:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: {{"${{ github.repository_owner }}"}}
          password: {{"${{ secrets.DOCKERHUB_TOKEN }}"}}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          [% if use_subdir -%]
          context: "{{"{{ defaultContext }}"}}:[[ subdir_name ]]"
          [% endif -%]
          push: {{"${{ github.event_name != 'pull_request' }}"}}
          tags: {{"${{ github.repository }}"}}[[ "-" ~ subdir_name if use_subdir else "" ]]:{{"${{ github.sha }}"}}
          cache-from: type=registry,ref={{"${{ github.repository }}"}}[[ "-" ~ subdir_name if use_subdir else "" ]]:edge
